<!DOCTYPE html>
<html>
<head>
  <title>AmyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if account_signed_in? %>
    <%= current_account.email %>
    <%= link_to '登出', destroy_account_session_path, method: :delete %>
  <% else %>
    <%= link_to '註冊', new_account_registration_path %>
    <%= link_to '登入', new_account_session_path %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
